#logoText {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

li {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-control {
    margin-top: 10px; 
    padding-right: 30px;
    
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    margin-top: 10px;
    padding: 8px 27px;
}

#mainSearchBar {
    width: 280px;
}

.rightNavItem {
    float: right;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.mainNavItem {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.navbarText {
    color: white;
    margin-top: 15px;
}

.custom-bottom-navbar {
    background-color: #2C6F7F;
    text-align: center;
}

.custom-top-navbar {
    background-color: #136A7F;
}

#main-top-navbar {
    background-color: #136A7F;
    height: 60px;
    padding-right: 100px;
}

#asSeenIn {
    color: white;
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 0px;
}

#profileName {

}

#aboutMe {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}