#logoText {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

li {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-bottom-navbar {
    background-color: #2C6F7F;
    text-align: center;
}

.custom-top-navbar {
    background-color: #136A7F;
}

#asSeenIn {
    color: white;
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 0px;
}

#networkImageContainer {

}