{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>The Good Network</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Lato:light">

    <link href='{% static "bootstrap-3.1.1/dist/css/bootstrap.min.css" %}'
          rel="stylesheet">

    <script type="text/javascript"
            src='{% static "bootstrap-3.1.1/dist/js/bootstrap.min.js" %}'></script>

    <script type="text/javascript"
            src='{% static "angular.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/initTGN.js" %}'></script>
    <link href='{% static "main.css" %}' rel="stylesheet">
</head>

<body data-ng-app="angularTGN">

{% block topbar %}
{% endblock %}
{% block content %}
{% endblock %}


<div id="fb-root"></div>
<script src='{% static "js/initTGN.js" %}'></script>
<script src='{% static "js/initFacebook.js" %}'></script>


</body>
        
        
        
        
