{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <title>The Good Network</title>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Lato:light">

    <link href='{% static "bootstrap-3.1.1/dist/css/bootstrap.min.css" %}'
          rel="stylesheet">
    <link href='{%  static "main.css" %}' rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script
            src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-route.min.js"></script>
    <script type="text/javascript" src='{% static "js/initTGN.js" %}'></script>

</head>

{% verbatim %}
<body data-ng-app="angularTGN">

<div data-ng-controller="userController">
    <!-- ng-switch for navbar -->
    <nav class="navbar navbar-default custom-top-navbar"
         role="navigation"
         data-ng-if="!(myProfile.isLoggedIn())"
            >
        <div class="container-fluid">
            <div id="logoText">THE GOOD NETWORK</div>
        </div>
    </nav>


    <nav id="main-top-navbar"
         class="navbar navbar-default"
         role="navigation"
         data-ng-if="myProfile.isLoggedIn()"
            >
        <a href="#/myProfile">
            <div id="mainLogo" class="mainNavItem navbarText"><strong>THE GOOD
                NETWORK</strong></div>
        </a>

        <form class="col-xs-4" name="searchForm"
              data-ng-submit="searchSubmit()">
            <input class="form-control input-sm"
                   placeholder="search the network for jobs, people, nonprofits"
                   type="text"
                   data-ng-model="searchBar.query"
                    />
            <span class="glyphicon glyphicon-search"></span>
            <button type="submit" class="hidden"></button>
        </form>

        <a href="/"
           class="navbarText rightNavItem"
           type="button"
           value="Logout"
           onclick="FB.logout();">
            Log Out
        </a>

        <a id="meLink" href="#/myProfile" class="navbarText rightNavItem">
            Me
        </a>

        <div class="btn-group navbarText rightNavItem">
        <span class="dropdown-toggle" data-toggle="dropdown">My Jobs <span
                class="caret"></span>
        </span>
            <ul class="dropdown-menu" role="menu">
                <li data-ng-repeat="job in myJobs.myJobs().currentJobsAsEmployee">
                    <a data-ng-href="#/myJob/{{job.jobId}}/{{job.jobType}}">
                        {{job.name}}
                    </a>
                </li>
                <li role="presentation" class="divider"
                    data-ng-if="myJobs.myJobs().currentJobsAsEmployee"></li>
                <li>
                    <a data-ng-href="#/searchResults/allJobs">Find a Job
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group navbarText rightNavItem">
    <span class="dropdown-toggle" data-toggle="dropdown">My Nonprofits <span
            class="caret"></span>
    </span>
            <ul class="dropdown-menu" role="menu">
                <li data-ng-repeat="nonprofit in myNonprofits.myNonprofits()">
                    <a data-ng-href="#/myNonprofit/{{nonprofit.nonprofitId}}">
                        {{ nonprofit.name }}
                    </a>
                </li>
                <li role="presentation" class="divider"
                    data-ng-if="myNonprofits.myNonprofits()"></li>
                <li data-toggle="modal" data-target="#createNonprofitModal">
                    <a>Create New Nonprofit</a>
                </li>
                <li data-toggle="modal" data-target="#createNonprofitJob"
                    data-ng-if="myNonprofits.myNonprofits()">
                    <a>Create New Job</a>
                </li>
                <li data-ng-if="myNonprofits.myNonprofits()">
                    <a data-ng-href="#/jobApplicants">View Job Applicants</a>
                </li>
            </ul>
        </div>

    </nav>

    <!-- ng-view for our ngRoute-->
    {% endverbatim %}
    <div data-ng-view>

    </div>


</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript"
        src='{% static "bootstrap-3.1.1/dist/js/bootstrap.min.js" %}'></script>

<script type="text/javascript"
        src='{% static "js/initFacebook.js" %}'></script>

</body>
</html>