{% extends "header.html" %}
{% block topbar %}
<nav id="main-top-navbar" class="navbar navbar-default" role="navigation">
    <div id="mainLogo" class="mainNavItem navbarText">The Good Network</div>
    <form class="col-xs-4">
      <input class="form-control input-sm" type="search"/>
      <span class="glyphicon glyphicon-search"></span>
      <input type="submit" class="hidden"/>
    </form>

    <ul class="navbarText rightNavItem">Me
    </ul>
    <ul class="navbarText rightNavItem">My jobs
    </ul>
    <ul class="navbarText rightNavItem">My nonprofits
    </ul>
</nav>
{% endblock %}

