{% extends "header.html" %}
{% block topbar %}
<nav id="main-top-navbar" class="navbar navbar-default" role="navigation">
  <a href="/profile">><div id="mainLogo" class="mainNavItem navbarText">The Good Network</div></a>
  <form class="col-xs-4">
    <input class="form-control input-sm" type="search"/>
    <span class="glyphicon glyphicon-search"></span>
    <input type="submit" class="hidden"/>
  </form>
  <a id="meLink" href="/profile" class="navbarText rightNavItem ">Me
  </a>
  <div class="btn-group navbarText rightNavItem">
    <span class="dropdown-toggle" data-toggle="dropdown">My Jobs <span class="caret"></span>
    </span>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Manage Sean's Outpost</a></li>
      <li><a href="#">Fundraiser for CSTUY</a></li>
      <li role="presentation" class="divider"></li>
      <li><a href="#">Find a Job</a></li>
    </ul>  
  </div>
  <div class="btn-group navbarText rightNavItem">
    <span class="dropdown-toggle" data-toggle="dropdown">My nonprofits <span class="caret"></span>
    </span>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/myNonprofit">CStuy</a></li>
      <li><a href="/myNonprofit">The Good Network</a></li>
      <li role="presentation" class="divider"></li>
      <li data-toggle="modal" data-target="#createNonprofitModal">
	<a href="#">Create New Nonprofit</a>
      </li>
    </ul>  
  </div>
</nav>
<!-- Modals !-->
<!-- Create New Non-profit Modal !-->
<div class="modal fade" id="createNonprofitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a New Non-profit</h4>
      </div>
      <div class="modal-body">
	<div class="row">
	  <label for="nonprofitName" class="col-sm-4">Non-profit name:&nbsp;&nbsp;</label>
	  <input id="nonprofitName" class="col-sm-8" type="text"/>
	</div>
	<br>
	<div class="row">
	  <label for="nonprofitWebsite" class="col-sm-4">Non-profit website:&nbsp;&nbsp;</label>
	  <input id="nonprofitWebsite" class="col-sm-8" type="text"/>
	</div>
	<br>
	<div class="row">
	  <label for="nonprofitDescription" class="col-sm-4">Non-profit description:&nbsp;&nbsp;</label>
	  <textarea id="nonprofitDescription" class="col-sm-8" rows="4" cols="50"></textarea>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--Contact Modal !-->
<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send Message</h4>
      </div>
      <div class="modal-body">
	  <textarea id="nonprofitDescription" rows="4" cols="50"></textarea>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

