{% extends "loggedIn.html" %}
{% block content %}
{% verbatim %} 
<div class="container" data-ng-app="angularTGN" data-ng-controller="otherNonprofitController">
  <div class="row center">
    <div class="col-sm-6">
      <h2>
	{{name}}
      </h2>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-lrg btn-primary topNonprofitButton" data-toggle="modal" data-target="#requestedAffiliationModal">
	Request Affiliation</button>
      <button class="btn btn-lrg btn-primary topNonprofitButton" data-toggle="modal" data-target="#sendMessageModal">
	Contact Us</button>
    </div>
  </div>
  <hr>
  <div class="row center">
    <img src="{{bannerLink}}"/>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <h3>Mission
      </h3>
    </div>
    <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{mission}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>About
      </h3>
    </div>
    <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{description}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Address
      </h3>
    </div>
    <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{address}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Website
      </h3>
    </div>
    <div class="col-sm-9">
      <span class="nonprofitDescript">
	{{website}}
      </span>
    </div>
  </div>
  <hr>
  <div class="row center">
    <h1><u>Job Postings</u></h1>    
  </div>
  <div class="row">
    <div class="well col-sm-6 jobPost">
      <div class="row center">
        <h1> Cook Dinner </h1>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Description
        </div>
        <div class="col-sm-9">
	  Come cook a delicious meal on May 5th for everyone at Sean's outpost. We'll reimburse you for any food you buy and compensate you for your time. Everyone here is friendly and a blast to work with.
        </div>
      </div>
      <br>
      <div class="row">
	<div class="col-sm-3">
          Compensation
	  </div>
	<div class="col-sm-9">
	  $250 + Ingredients.
	  </div>
      </div>
      <br>
      <div class="row center">
          <button class="btn btn-lg btn-primary jobApply" data-toggle="modal" data-target="#appliedForJobModal"> Apply </button>
      </div>
    <div class="col-sm-3"></div>
    </div>
    <div class="well col-sm-6 jobPost">
      <div class="row center">
        <h1> Clean Dishes </h1>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Description
        </div>
        <div class="col-sm-9">
	  Help us take care of the dishes after our meal on May 5th.
        </div>
      </div>
      <br>
      <div class="row">
	<div class="col-sm-3">
          Compensation
	  </div>
	<div class="col-sm-9">
	  $50
	  </div>
      </div>
      <br>
      <div class="row center">
          <button class="btn btn-lg btn-primary jobApply" data-toggle="modal" data-target="#appliedForJobModal"> Apply </button>
      </div>
    <div class="col-sm-3"></div>
    </div>
  </div>

</div>
</body>
</html>
{% endverbatim %}
{% endblock %}
