{% extends "loggedIn.html" %}
{% block content %}
{% verbatim %} 
<div class="container" data-ng-app="angularTGN">
  <div class="row" data-ng-controller="otherProfileController">
    <div class="col-sm-6">
    <h1 id="profileName">{{name}}
    </h1>
      <img id="profileImage" src="{{profileLink}}" width="180px"
           height="180px"/>
      <br>
      <h3>Resume
      </h3>
      <a>{{resumeLink}}</a>
      <h3>
	Skills
      </h3>
    <p>
      {{skills}}
    </p>
    <h3>
	Affiliations
    </h3>
    <p>
      {{affiliations}}
    </p>
    </div>
    <div class="col-sm-6">
      <h1> Quick Biography </h1>
      <p id="aboutMe">
	{{aboutMe}}
      </p>
      <br>
      <button class="btn btn-primary" data-toggle="modal" data-target="#sendMessageModal">contact</button>
      <div class="btn-group">
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	  add as affiliate <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
	  <li data-toggle="modal" data-target="#acceptAffiliateModal"><a href="#">Finding Refuge</a></li>
	</ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{% endverbatim %}
{% endblock %}
