{% extends "loggedIn.html" %}
{% block content %}
{% verbatim %} 
<div class="container" data-ng-app="angularTGN">
  <div class="row" data-ng-controller="myProfileController">
    <div class="col-sm-6">
    <h1 id="profileName">{{name}}
    </h1>
      <img id="profileImage" src="{{profileLink}}" width="180px"
           height="180px"/>
      <br>
      <h3>Resume
      </h3>
      <a>{{resumeLink}}</a>
      <h3>
	Skills
      </h3>
    <p>
      {{skills}}
    </p>
    <h3>
	Affiliations
    </h3>
    <p>
      {{affiliations}}
    </p>
    </div>
    <div class="col-sm-6">
      <h1> Quick Biography </h1>
      <p id="aboutMe">
	{{aboutMe}}
      </p>
      <br>
      <button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#editProfileModal">Edit Profile</button>
    </div>
    
    <!-- Edit Profile Modal !-->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
	  </div>
	  <div class="modal-body">
            <div class="row">
              <label for="editResumeLink" class="col-sm-4">Resume Link:&nbsp;&nbsp;</label>
              <input id="editResumeLink" class="col-sm-8" type="text" value="{{resumeLink}}"/>
            </div>
            <br>
            <div class="row">
              <label for="editSkills" class="col-sm-4">Skills:&nbsp;&nbsp;</label>
              <input id="editSkills" class="col-sm-8" type="text" value="{{skills}}"/>
            </div>
            <br>
            <div class="row">
              <label for="editBio" class="col-sm-4">Quick Biography:&nbsp;&nbsp;</label>
              <textarea id="editBio" class="col-sm-8" rows="4" cols="50">{{aboutMe}}</textarea>
            </div>
	  </div>
	  <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endverbatim %}
{% endblock %}
