{% extends "loggedIn.html" %}
{% block content %}
{% verbatim %}
<div class="container" data-ng-app="angularTGN">
    <div class="row">
    </div>
    <div class="row resultTitle">
        <h3>Jobs</h3>
        <hr>
    </div>
    <!---List of Jobs !-->
    <table id="jobListTable" class="searchResultTable"
           data-ng-controller="otherNonprofitsController">

        <tr data-ng-repeat="nonprofit in otherNonprofits">
            <td class="imageTd">
                <img class="imageInTable"
                     src="{{nonprofit.bannerLink}}"
                     height="160" width="160">
            </td>
            <td class="contentTd">
                <h3>{{nonprofit.job.title}}</h3>

                <p>{{nonprofit.job.description}}</p>

                <p>{{nonprofit.address}}</p>

                <p>{{nonprofit.job.compensation}}</p>

                <div>
                    <button type="button" class="btn btn-default">
                        View Job
                    </button>
                    <button type="button" class="btn btn-default">
                        Apply to Job
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <div class="row resultTitle">
        <h3>People</h3>
        <hr>
    </div>
    <table id="peopleListTable" class="searchResultTable"
           data-ng-controller="otherProfilesController">

        <tr data-ng-repeat="profile in otherProfiles">
            <td class="imageTd">
                <img class="imageInTable"
                     src="{{profile.profileLink}}"
                     height="160" width="160">
            </td>
            <td class="contentTd">
                <h3>{{profile.name}}</h3>

                <p>{{profile.skills}}</p>

                <p>{{profile.location}}</p>

                <div>
                    <button type="button" class="btn btn-default">
                        View Profile
                    </button>
                    <button type="button" class="btn btn-default">
                        Contact
                    </button>
                </div>
            </td>
        </tr>

    </table>
    <!-- List of People !-->
    <div class="row resultTitle">
        <h3>Nonprofits</h3>
        <hr>
    </div>
    <table id="nonprofitsListTable" class="searchResultTable"
           data-ng-controller="otherNonprofitsController">

        <tr data-ng-repeat="nonprofit in otherNonprofits">
            <td class="imageTd">
                <img class="imageInTable"
                     src="{{ nonprofit.bannerLink }}">
            </td>
            <td class="contentTd">
                <h3>{{nonprofit.name}}</h3>

                <p>{{nonprofit.mission}}</p>

                <p>{{nonprofit.address}}</p>
                <p><a href="{{nonprofit.website}}">{{nonprofit
                    .website}}</a></p>
                <div>
                    <button type="button" class="btn btn-default">
                        View Nonprofit
                    </button>
                    <button type="button" class="btn btn-default">
                        Request Affiliation
                    </button>

                </div>
            </td>
            <!--
            <td>
                <form action="/otherNonprofit">
                    <button class="btn btn-primary">View Page</button>
                    <input type="submit" class="hidden">
                </form>
            </td>
            !-->
        </tr>
    </table>
    <!-- List of nonprofits !-->
</div>
</body>
</html>
{% endverbatim %}
{% endblock %}
