{% extends "loggedIn.html" %}
{% block content %}
{% verbatim %} 
<div class="container" data-ng-app="angularTGN">
  <div class="row" data-ng-controller="mySearchResults">
  </div>
  <div class="row resultTitle">
    <h3>Jobs</h3>
    <hr>
  </div>
  <!---List of Jobs !-->
  <table>
    <tr>
      <th>Title</th>
      <th>Nonprofit</th>
      <th>Compensation</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Musician</td>
      <td>Make a Wish</td>
      <td>None</td>
      <td>Come jam out at the Mount Sinai hospital. Play whatever you like as long as it's loud and awesome!</td>
    </tr>
  </table>
  <div class="row resultTitle">
    <h3>People</h3>
    <hr>
  </div>
  <!-- List of People !-->
  <div class="row resultTitle">
    <h3>Nonprofits</h3>
    <hr>
  </div>
  <!-- List of nonprofits !-->
</div>
</body>
</html>
{% endverbatim %}
{% endblock %}
