{% extends "modals.html" %}
{% block content %}
{% verbatim %}
<div class="container" data-ng-app="angularTGN">
    <div class="row" data-ng-controller="viewJobApplicantsController">
        <div data-ng-controller="viewMyNonprofitController">
            <h1>Job Applicants</h1>

            <div data-ng-repeat="nonprofit in myNonprofits">
                <hr>
                <div class="row resultTitle">
                    <h3>{{nonprofit.name}}</h3>
                </div>
                <table
                       class="jobApplicantTable"
                       data-ng-repeat="profile in nonprofit.applicants">
                    <tr>
                        <td class="imageTd">
                            <a href="/otherProfile"><img
                                    class="imageInTable"
                                    src="{{profile.profileLink}}"/></a>
                        </td>
                        <td>
                            <h3>{{profile.name}}</h3>

                            <p>{{profile.skills}}</p>

                            <p>{{profile.location}}</p>

                            <div>
                                <button class="btn btn-primary"
                                        data-toggle="modal"
                                        data-target="#acceptedJobApplicant">
                                    Accept
                                </button>
                                <button class="btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#declinedJobApplicant">
                                    Reject
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

