<div id="homePageContent">
    <br>
    <br>

    <div class="row center">
        <p class="desc"> connects friends with nonprofits </p>

        <p class="desc"> to do short-term jobs. </p>
    </div>

    <div class="row center">
        <div id="loginText">
            <div class="fb-login-button" scope="public_profile,email"
                 data-max-rows="0" data-size="xlarge" data-show-faces="false"
                 data-auto-logout-link="false"></div>
            <span class="desc"> to join the network. </span>
        </div>
    </div>

    <br>

</div>
</div> <!-- END ROW !-->
<nav class="navbar navbar-default hidden-xs navbar-fixed-bottom custom-bottom-navbar"
     role="navigation">

    <div class="row">
    </div>
    <br>

    <div class="row center">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-user sickProng text-muted"></span>

            <p class="homePageListElement">
                Find good people.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench sickProng text-muted"></span>

            <p class="homePageListElement">
                Find good work.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe sickProng text-muted"></span>

            <p class="homePageListElement">
                Make the world a better place.
            </p>
        </div>
    </div>
</nav