{% verbatim %}
<div data-ng-controller="TGNController">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <h1 id="profileName">{{myProfile.userModel().name}}
                </h1>
                <img id="profileImage"
                     src="{{myProfile.userModel().profileImageUrl}}"
                     width="180px"
                     height="180px"/>
                <br>

                <br>
                <button class="btn btn-warning btn-lg" data-toggle="modal"
                        data-target="#editProfileModal">Edit Profile
                </button>
            </div>

            <div class="col-sm-8">
                <h1> Biography </h1>

                <p id="aboutMe"> {{myProfile.userModel().aboutMe}} </p>
            </div>
        </div>
        <!--    Profile Details    -->

        <br>
        <br>

        <div class="row">
            <div class="col-sm-3">
                <h3 class="details"> Resume </h3>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <p class="subtext"><a
                        href="{{myProfile.userModel().resume}}">{{myProfile.userModel().resume}}</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h3 class="details"> Skills </h3>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <ul>
                    <li
                            data-ng-repeat="skill in myProfile.userModel().skills">
                        {{skill}}
                    </li>
                </ul>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="col-sm-3">
                <h3 class="details"> Affiliations </h3>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <p class="subtext"> {{affiliations}} </p>
            </div>
        </div>
        -->

        <!-- Edit Profile Modal !-->
        <div class="modal fade" id="editProfileModal" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
             data-ng-controller="editProfileController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit
                            Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label for="editResumeLink" class="col-sm-4">Resume
                                Link:&nbsp;&nbsp;</label>
                            <input id="editResumeLink" class="col-sm-8"
                                   type="text"
                                   data-ng-value="myProfile.userModel().resume"
                                   data-ng-model="newModel.resume"
                                    />
                        </div>
                        <br>

                        <div class="row">
                            <label for="new-skill" class="co
                            l-sm-4">Add new skills: &nbsp;&nbsp;</label>

                            <form
                                    data-ng-submit="addSkill(newSkill)">
                                <input id="new-skill" class="col-sm-8"
                                       type="text"
                                       data-ng-model="newSkill"
                                        >
                                <button type="submit"
                                        class="btn btn-default">Add
                                </button>
                            </form>
                            <h5>Current Skills</h5>
                            <ul>
                                <li
                                        data-ng-repeat="skill in newModel.skills">
                                    {{ skill }}
                                </li>
                            </ul>
                        </div>
                        <br>

                        <div class="row">
                            <label for="new-title" class="co
                            l-sm-4">Add new titles: &nbsp;&nbsp;</label>

                            <form
                                    data-ng-submit="addTitle(newTitle)">
                                <input id="new-title" class="col-sm-8"
                                       type="text"
                                       data-ng-model="newTitle"
                                        >
                                <button type="submit"
                                        class="btn btn-default">Add
                                </button>
                            </form>
                            <h5>Current Skills</h5>
                            <ul>
                                <li
                                        data-ng-repeat="title in newModel.titles">
                                    {{ title }}
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <label for="editBio" class="col-sm-4">Quick
                                Biography:&nbsp;&nbsp;</label>
                            <textarea id="editBio" class="col-sm-8" rows="4"
                                      cols="50"
                                      data-ng-model="newModel.aboutMe"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Close
                        </button>
                        <button type="button" class="btn btn-primary"
                                data-dismiss="modal"
                                data-ng-click="requestService.updateProfile(myProfile,
                                { profile: newModel,
                                  userId: myProfile.userModel().userId
                                  }
                                )"
                                >Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}