{% extends "modals.html" %}
{% block content %}
{% verbatim %}
<div class="container"
     data-ng-controller="otherNonprofitController">
    <div class="row center">
        <div class="col-sm-6">
            <h2>
                {{viewContent.viewContent().nonprofitToView.name}}
            </h2>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary topNonprofitButton"
                    data-toggle="modal"
                    data-target="#requestedAffiliationModal">
                Request Affiliation
            </button>
            <button class="btn btn-primary topNonprofitButton"
                    data-toggle="modal" data-target="#sendMessageModal">
                Contact Us
            </button>
        </div>
        
        <div class="col-sm-2" id="jobPostAnchor">
        <a ng-click="goToJobs()"><span style="font-size:18px" class="glyphicon glyphicon-arrow-down"></span> Job Posts </a>
    </div>
        
        
    </div>
    
    
    <hr>
    <div class="row center">
        <img src="{{viewContent.viewContent().nonprofitToView.imageUrl}}"/>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h3>Mission
            </h3>
        </div>
        <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{viewContent.viewContent().nonprofitToView.mission}}
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>About
            </h3>
        </div>
        <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{viewContent.viewContent().nonprofitToView.description}}
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>Address
            </h3>
        </div>
        <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{viewContent.viewContent().nonprofitToView.address}}
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>Website
            </h3>
        </div>
        <div class="col-sm-9">
      <span class="nonprofitDescript">
	{{viewContent.viewContent().nonprofitToView.website}}
      </span>
        </div>
    </div>
    <hr>
    <div class="row center">
        <h1 id="jobAnchor">Job Postings</h1>
    </div>
   <div class="row centerContent">

    <div class="well"
         data-ng-repeat="job in viewContent.viewContent().nonprofitToView.jobs.postedJobs">
        <div class="row center">
            <h2> {{job.name}} </h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Description</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                {{job.description}}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12">
                <h4>Compensation</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                {{job.compensation}}
            </div>
        </div>

        <br>

        <div class="col-sm-3"></div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Location</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                {{job.city}}, {{job.state}}
            </div>
        </div>
        <br>

        <!-- OPEN MODAL TO EDIT JOB -->
        <button class="btn btn-lg btn-primary"
                data-toggle="modal" data-target="#appliedForJobModal">
            Apply
        </button>

    </div>
</div>
{% endverbatim %}
{% endblock %}