{% extends "modals.html" %}
{% block content %}
{% verbatim %}
<div class="container" data-ng-app="angularTGN"
     data-ng-controller="otherNonprofitController">
    <div class="row center">
        <div class="col-sm-6">
            <h2>
                {{name}}
            </h2>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-lrg btn-primary topNonprofitButton"
                    data-toggle="modal"
                    data-target="#requestedAffiliationModal">
                Request Affiliation
            </button>
            <button class="btn btn-lrg btn-primary topNonprofitButton"
                    data-toggle="modal" data-target="#sendMessageModal">
                Contact Us
            </button>
        </div>
    </div>
    <hr>
    <div class="row center">
        <img src="{{bannerLink}}"/>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h3>Mission
            </h3>
        </div>
        <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{nonprofit.mission}}
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>About
            </h3>
        </div>
        <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{nonprofit.description}}
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>Address
            </h3>
        </div>
        <div class="col-sm-9 textMiddle">
      <span class="nonprofitDescript">
	{{nonprofit.address}}
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>Website
            </h3>
        </div>
        <div class="col-sm-9">
      <span class="nonprofitDescript">
	{{nonprofit.website}}
      </span>
        </div>
    </div>
    <hr>
    <div class="row center">
        <h1>Job Postings</h1>
    </div>
    <div class="row">
        <div class="well col-sm-5 jobPost">
            <div class="row center">
                <h2> Cook Dinner </h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Description</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    Come cook a delicious meal on May 5th for everyone at Sean's
                    outpost. We'll reimburse you for any food you buy and
                    compensate you for your time. Everyone here is friendly and
                    a blast to work with.
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Compensation</h4>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    $250 + Ingredients.
                </div>
            </div>
            <br>

            <div class="row center">
                <button class="btn btn-lg btn-primary"
                        data-toggle="modal" data-target="#appliedForJobModal">
                    Apply
                </button>
            </div>
        </div>
        <div class="well col-sm-offset-1 col-sm-5 jobPost">
            <div class="row center">
                <h2> Clean Dishes </h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Description</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    Help us take care of the dishes after our meal on May 5th.
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Compensation</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    $50 and dinner
                </div>
            </div>
            <br>

            <div class="row center">
                <button class="btn btn-lg btn-primary"
                        data-toggle="modal" data-target="#appliedForJobModal">
                    Apply
                </button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}