{% verbatim %}
<div class="container" data-ng-app="angularTGN">
    
    <div class="col-sm-2">
        <br>
        <div class='span3 sidebar'>
            <ul class="nav nav-pills nav-stacked affix">
                <li class="active"><a href='#jobsAnchor'>Jobs</a></li>
                <li><a href='#peopleAnchor'>People</a></li>
                <li><a href='#nonprofitsAnchor'>Nonprofits</a></li>
            </ul>
        </div>
    
    </div>
    
    <div class="col-sm-1"></div>

    <div class="col-sm-9">
        
        <div class="row resultTitle">
            
        <a name="jobsAnchor"></a>
        <h3>Jobs</h3>
        <hr>
        </div>
        
        <!---List of Jobs !-->
        <div data-ng-controller="otherNonprofitsController">
        <table id="jobListTable" class="searchResultTable"
               data-ng-repeat="nonprofit in otherNonprofits">

            <tr >
                <td class="imageTd">
              <a href="/otherNonprofit">
                    <img class="imageInTable"
                         src="{{nonprofit.bannerLink}}"
                         height="160" width="160">
              </a>
                </td>
                <td class="contentTd">
                    <h3>{{nonprofit.job.title}}</h3>

                    <p>{{nonprofit.job.description}}</p>

                    <p>{{nonprofit.address}}</p>

                    <p>{{nonprofit.job.compensation}}</p>

                    <div>
                        <form action="/otherNonprofit"
                              style="display: inline-block;">
                            <button type="submit" class="btn btn-default">
                                View Job
                            </button>
                        </form>
                        <button type="button" class="btn btn-default"
                                data-toggle="modal"
                                data-target="#appliedForJobModal">
                            Apply to Job
                        </button>
                    </div>
                </td>
            </tr>
        </table>
            </div>
        <div class="row resultTitle">
            
            <a name="peopleAnchor"></a>
            <h3>People</h3>
            <hr>
        </div>
        <div data-ng-controller="otherProfilesController">
            <table id="peopleListTable" class="searchResultTable"

                   data-ng-repeat="profile in otherProfiles">

                <tr>
                    <td class="imageTd">
              <a href="/otherProfile">
                        <img class="imageInTable"
                             src="{{profile.profileLink}}"
                             height="160" width="160">
              </a>
                    </td>
                    <td class="contentTd">
                        <h3>{{profile.name}}</h3>

                        <p>{{profile.skills}}</p>

                        <p>{{profile.location}}</p>

                        <div>
                            <form action="/otherProfile"
                                  style="display: inline-block;">
                                <button type="submit" class="btn btn-default">
                                    View Profile

                                </button>
                            </form>
                            <button type="button" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#sendMessageModal">
                                Contact
                            </button>
                        </div>
                    </td>
                </tr>

            </table>
        </div>

        <!-- List of People !-->
        <div class="row resultTitle">
            <a name="nonprofitsAnchor"></a>
            <h3>Nonprofits</h3>
            <hr>
        </div>
        <div data-ng-controller="otherNonprofitsController">
        <table id="nonprofitsListTable" class="searchResultTable"
                data-ng-repeat="nonprofit in otherNonprofits">

            <tr>
                <td class="imageTd">
              <a href="/otherNonprofit">
                    <img class="imageInTable"
                         src="{{ nonprofit.bannerLink }}">
              </a>
                </td>
                <td class="contentTd">
                    <h3>{{nonprofit.name}}</h3>

                    <p>{{nonprofit.mission}}</p>

                    <p>{{nonprofit.address}}</p>

                    <p><a href="{{nonprofit.website}}">{{nonprofit
                        .website}}</a></p>

                    <div>
                        <form action="/otherNonprofit"
                              style="display: inline-block;">
                            <button type="submit" class="btn btn-default">
                                View Nonprofit

                            </button>
                        </form>
                        <button type="button" class="btn btn-default"
                                data-toggle="modal"
                                data-target="#requestedAffiliationModal">
                            Request Affiliation
                        </button>

                    </div>
                </td>
                <!--
                <td>
                    <form action="/otherNonprofit">
                        <button class="btn btn-primary">View Page</button>
                        <input type="submit" class="hidden">
                    </form>
                </td>
                !-->
            </tr>
        </table>
            </div>
        <!-- List of nonprofits !-->
    </div>
</div>
{% endverbatim %}

